# Unity – ogólne
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.swp
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
*.dwlt

# OS – systemowe
.DS_Store
Thumbs.db
desktop.ini

# Android / iOS buildy
*.apk
*.aab
*.ipa
*.keystore

# VSCode – opcjonalnie
.vscode/

# Rider – jeśli używasz
.idea/
*.sln.iml

# Unity – lokalne ustawienia użytkownika (nie commituj)
UserSettings/

# Cache dla pakietów
Packages/manifest.json.meta
Packages/packages-lock.json.meta

